<% if user_signed_in? %>
<h3 id="user-welcome" data-name="<%= current_user.name %>">Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<% else if !user_signed_in? %>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
    <% end %>
<% end %>
