<%= form_for @city do |f| %>
    <div>
      <%= f.label :name, class: "new-formlabel" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div>
      <%= f.label :short_name, class: "new-formlabel" %>
      <%= f.text_field :short_name, class: "form-control" %>
    </div>
    <br />
    <div>
      <%= link_to 'Back', cities_path, class: "btn btn-primary" %>
      <%= f.submit :value => "Zapisz", class: "btn btn-primary" %>
    </div>
<% end %>