        <% @cities.each do |city| %>
            <div>
              <p><%= render city %> -- <%= link_to 'delete', city, method: :delete, data: { confirm: 'Wykasować z bazy danych ?' } %></p>
            </div>
            <br />
        <% end %>
        <div class="pagination">
          <%= will_paginate @cities, :class => 'page' %>
        </div>
        <div><%= link_to 'Create City', new_city_path(@city) %></div>
