  <p>
    <b>Name:</b> <%= @city.name if @city.name %></p>
  </p>
  <p>
    <b>Short Name:</b> <%= @city.short_name if @city.short_name %></p>
  </p>
<br />
  <br />
  <div><%= link_to 'Edit City', edit_city_path(@city) %> || <%= link_to 'City Home', :controller=>'cities', :action=>'index' %></div>